  <h3>Create a New Event</h3> 
    <%= form_for @event do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :Name %>
      <%= f.text_field :title, class: 'form-control' %> 
      <%= f.label :Location %>
      <%= f.text_field :address, class: 'form-control' %> 
      <%= f.label :Description %>
      <%= f.text_area :body, class: 'form-control' %> 
      <%= f.label :Date %>
      <%= f.text_field :starts_at, :placeholder => 'YYYY-MM-DD', class: 'form-control' %>
      <%= f.label :Time %>
      <%= f.text_field :time, :placeholder => '14:25', class: 'form-control' %><br>
      <%= f.submit "Create event", class: "btn btn-primary btn-block" %>
    <% end %>